{% extends './layouts/base.html' %}
{% load static %}

{% block content %}
<section>
    <h1 style="font-size: 3vw; font-weight: 500; margin-bottom: 5%;"> Hello Darling <i class='bx bx-upside-down'></i> </h1>
    <form action="{% url 'init' %}" method="post">
        {% csrf_token %}
        <div style="display: flex; margin-bottom: 5%;">
            <h2 style="font-size: 2vw; margin-right: 3%;"> ¿Con quién tenemos el placer de hablar? </h2>
            <input type="text" name="name" placeholder="Dime tu nombre..." class="px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500" required>
        </div>
        <div style="display: flex; margin-bottom: 5%;">
            <h2 style="font-size: 2vw; margin-right: 3%;"> ¿Con cuántas personas vas a... bueno tú sabes? </h2>
            <input type="number" min="1" max="10" step="1" value="1" id="persons" name="persons" placeholder="Dime tu el numerito mágico..." class="px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-blue-500" required>
        </div>

        <h4>*si no rellenas algún campo, se le asignara un nombre cualquiera, quieres poner nombres de personas que ni conoces? pillín</h4>
        <h2 style="font-size: 2vw; margin-right: 3%;"> Participantes: </h2>
        <section id="participants">
        </section>

        <div style="text-align: center;">
            <button type="submit" name="type" value="male" class="px-10 py-4 rounded-md ml-2 bg-blue-500 hover:bg-blue-700 icon"><i class='bx bx-male-sign'></i></button>
            <button type="submit" name="type" value="leaf" class="px-10 py-4 rounded-md ml-2 bg-green-500 hover:bg-green-700 icon"><i class='bx bx-leaf' ></i></button>
            <button type="submit" name="type" value="female" class="px-10 py-4 rounded-md ml-2 bg-red-500 hover:bg-red-700 icon"><i class='bx bx-female-sign'></i></button>
        </div>
    </form>
</section>
{% endblock content %}

{% block scripts %}
    <script src="{% static "js/index.js" %}"></script>
{% endblock scripts %}